@media screen and (min-width:1200px) {
    html {
        font-size: 120px !important;
    }
}

@media screen and (max-width:1400px) {
    article {

        padding-left: 1rem !important;
        padding-right: 1rem !important;

    }
}

/* @media screen and (max-width:900px) {
    .item-type {
        display: none !important;

    }

    p {
        display: none;
    }


}

@media screen and (max-width:800px) {
    article {
        top: 2.083333rem !important;
    }


}

 @media screen and (max-width:415px) {
    article {
        padding: 0 !important;
        padding-left: 1.666667rem !important;


    } 
}

    .shortcut {
        height: .833333rem;
    }

    .shortcut ul li {
        display: none !important;
    }

    .logo {
        height: .833333rem;
        font-size: .416667rem;
    }

    .logo a {
        line-height: .833333rem;
    }

    .logo a::before {
        display: inline-block;
        content: '';
        margin-top: .125rem;
        width: .333333rem;
        height: .333333rem;
        background: url(/opensea.svg) no-repeat;
        background-size: .333333rem .333333rem;






    }

    form {
        margin-top: 1.666667rem;
    }

    .name input,
    .link input {
        width: 70%;
        padding-left: .041667rem;
        line-height: .833333rem !important;
        border-radius: .066667rem;
        border: 1px solid #ccc;
        font-size: .25rem !important;
        height: .833333rem !important;


    }

    .Ethereum,
    .polygon {

        border: 1pX solid #ccc;
        height: .666667rem !important;
        width: 100%;
        padding-left: .125rem;
        line-height: .666667rem !important;
        cursor: pointer;
        border-radius: .125rem;
        font-size: .25rem;

    }

    .BlockChain {
        position: relative;
        width: 70%;
        border-radius: .125rem;
        height: .666667rem !important;
        overflow: hidden;

    }

    .polygon img,
    .Ethereum img {
        width: .416667rem !important;
        height: .416667rem !important;


    }

    .glyphicon-chevron-down:before {
        vertical-align: text-bottom;
    }

    textarea {
        font-size: .25rem !important;
        height: 1.666667rem !important;
    }

    .item-flie {
        height: 3.333333rem !important;
    }

    article h3 {
        font-size: .416667rem !important;


    }

    article h4 {
        font-size: .375rem !important;

    }

    .name {
        margin-bottom: 1rem !important;
    }

    .link {
        margin-bottom: 1rem !important;
    }


} */

.shortcut ul li:nth-child(2) {
    border-bottom: 1px solid blue;
}

.shortcut ul li:nth-child(2) a:hover {
    border: none;
}

h1 {
    margin: 0;
    font-size: 2em;
}

a {
    text-decoration: none !important;
}

p {
    font-size: 12px;
}

article {


    position: relative;
    top: 90px;
    padding-left: 350px;
    padding-right: 500px;
    background: #fff;


}

article h3 {
    font-size: 24px;
    margin-bottom: 6px !important;
    margin-top: 0 !important;

}

article h4 {
    font-size: 18px;
    margin-bottom: 6px !important;
    margin-top: 0 !important;
}

.item-type {
    margin-bottom: 5px !important;
    margin-top: 0 !important;
}

.new_item {
    width: 100%;
    position: relative;
}

.item_uplode {

    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-bottom: 30px;
    border: 3px dashed rgb(229, 232, 235);

}

.item-flie {
    opacity: 0;
    width: 100%;
    height: 250px;
    cursor: pointer;

}

.tips {
    position: absolute;
    text-align: center;


}

.item_uplode1 img {

    max-width: 100%;
    height: auto;
    margin-bottom: 5px;

}

.name {
    margin-bottom: 70px;
}

.imgs {
    display: none;
    width: 100%;
    height: 180px;
}

.name p {
    display: none;
    padding-left: 20px;
    font-size: 16px;

}

.name input,
.link input {
    width: 100%;
    padding-left: 5px;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    height: 50px;


}

.link {
    margin-bottom: 50px;
}

p {
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 14px;
    height: 100px;

}

.detail {
    margin-bottom: 50px;

}


.choose {

    height: 100px;

    background-color: #fff;
    margin-bottom: 50px;
}

.BlockChain {
    position: relative;
    width: 100%;
    border-radius: 15px;
    height: 48px;
    overflow: hidden;

}

.Ethereum img,
.polygon img {
    border-radius: 16px;
}

.Ethereum,
.polygon {

    border: 1pX solid #ccc;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    line-height: 48px;
    cursor: pointer;
    border-radius: 15px;

}

.choose span {
    position: absolute;
    top: 18px;
    right: 5px;
    cursor: pointer;
    color: #ccc;


}

.polygon img {
    max-width: 32px;
    max-height: 32px;


}

.Ethereum img {
    max-width: 32px;
    max-height: 32px;
}

.shadow {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, .3) !important;
}