@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?tomleg');
    src: url('/fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?tomleg') format('truetype'),
        url('/fonts/icomoon.woff?tomleg') format('woff'),
        url('/fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@media screen and (min-width:1200px) {
    html {
        font-size: 120px !important;
    }
}

@media screen and (max-width:960px) {
    .market_banner_section .market_banner_nav .market_banner_nav_ul li {
        font-size: 18px !important;
    }

    .market_banner_section .market_banner_nav {
        width: 80px !important;
    }

    .market_banner_photo .market_banner_photo_list {
        flex: 100% !important;
    }

    .market_banner_section .market_banner_photo {
        margin-left: 80px !important;
    }

    .market_banner .market_banner_section {
        padding-right: 10px;
    }
}


h1 {
    margin: 0 !important;
    font-size: 2em;
}

a {
    text-decoration: none !important;
}

p {
    font-size: 12px;

}

ul {
    margin-bottom: 10px;
}

.market_banner {
    width: 100%;

}

.market_banner_search {
    display: flex;
    width: 100%;
    height: 160px;
    justify-content: center;
    padding-top: 72px;
    align-items: center;
}

.market_banner_search .input_div {
    flex: 0.6;
    font-size: 20px;
    height: 50.00004px;
    display: flex;
    position: relative;
}

.market_banner_search .input_div::before {
    position: absolute;
    font-family: 'icomoon';
    content: 'î¦†';
    left: 20.00004px;
    line-height: 50.00004px;
}

.market_banner_search input {
    border-radius: 24.99996px;
    flex: 1;
    padding-left: 60px;
    /* padding-left: 80px; */
    border: 1px solid rgba(0, 0, 0, .3);

}

.market_banner .market_banner_section {
    width: 100%;
    padding-top: 99.99996px;
    display: flex;
}

.market_banner_section .market_banner_nav {
    width: 12%;
    position: fixed;

}

.market_banner_section .market_banner_nav ul {
    display: block;
    width: 100%;
    border-radius: 5.00004px;
    overflow: hidden;
}

.market_banner_section .market_banner_nav .market_banner_nav_ul li {
    display: block;
    width: 100%;
    height: 80px;
    font-size: 20.00004px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;

}

.market_banner_section .market_banner_photo {
    flex: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    align-content: flex-start;

}

.market_banner_photo .market_banner_photo_list {
    transition: all .3s;
    flex: 45%;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20.00004px;
    max-width: 429.99996px;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.market_banner_photo .market_banner_photo_list .mask {
    display: none;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);

}

.loadingSix {
    display: none;
    width: 99.99996px;
    height: 99.99996px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.loadingSix span {
    display: inline-block;
    width: 15.99996px;
    height: 15.99996px;
    border-radius: 50%;
    background: skyblue;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.loadingSix span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -0.066667rem;
    -webkit-animation-delay: 0.13s;
}

.loadingSix span:nth-child(2) {
    left: .116667rem;
    top: .116667rem;
    -webkit-animation-delay: 0.26s;
}

.loadingSix span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -0.066667rem;
    -webkit-animation-delay: 0.39s;
}

.loadingSix span:nth-child(4) {
    top: .116667rem;
    right: .116667rem;
    -webkit-animation-delay: 0.52s;
}

.loadingSix span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -0.066667rem;
    -webkit-animation-delay: 0.65s;
}

.loadingSix span:nth-child(6) {
    right: .116667rem;
    bottom: .116667rem;
    -webkit-animation-delay: 0.78s;
}

.loadingSix span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -0.066667rem;
    -webkit-animation-delay: 0.91s;
}

.loadingSix span:nth-child(8) {
    bottom: .116667rem;
    left: .116667rem;
    -webkit-animation-delay: 1.04s;
}

.market_banner_photo .market_banner_photo_list:hover {
    box-shadow: 0 0 .1rem .008333rem;
    transform: translateY(-10px);
}

.photo_list_img_container {
    height: 2.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.photo_list_img {
    max-width: 85%;
    max-height: 85%;
}

.photo_list_photo_div {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.photo_list_photo_div .photo_list_p {
    flex: 1;
    padding-top: 9.99996px;
    padding-left: 9.99996px;
    color: rgb(112, 122, 131);
    font-size: 15.99996px;

}

.photo_list_photo_div .photo_list_photo_div_div {
    flex: 3;
    padding: 0 0 9.99996px 9.99996px;
    color: #222;
}

.photo_list_photo_div_div .photo_list_pone {
    font-size: 15.99996px;
}

.photo_list_photo_div1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    position: relative;
}

.photo_list_photo_div1 .photo_list_photo_p1 {

    flex: 1;
    text-align: end;
    margin: 30px 5.00004px 0 0;
    font-size: 15px;
}

.photo_list_photo_div1 .photo_list_photo_button {
    position: absolute;
    top: -99.99996px;
    left: -40%;
    margin-left: 39.99996px;
    display: none;
    width: 80.00004px;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    height: 30px;
    border-radius: 9.99996px;
    cursor: hand;
    box-shadow: 0 0 3.99996px .5px;
}

.change {
    background-color: #ccc;
    font-weight: 700;
    color: #fff;

}

.li1 {
    border-radius: 5.00004px;

}

.up {
    margin-top: 0;
}

.price-img {
    vertical-align: middle;
    margin-right: 5.00004px;
    width: 15px !important;
    height: 15px;
}

.price-text {
    vertical-align: middle;
}