@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?tomleg');
    src: url('/fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?tomleg') format('truetype'),
        url('/fonts/icomoon.woff?tomleg') format('woff'),
        url('/fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@media screen and (min-width:1200px) {
    html {
        font-size: 120px !important;
    }
}

h1 {
    margin: 0 !important;
    font-size: 2em;
}

a {
    text-decoration: none !important;
}

p {
    font-size: .1rem;

}

ul {
    margin-bottom: .008333rem;
}

.market_banner {
    width: 100%;

}

.market_banner_search {
    display: flex;
    width: 100%;
    height: 1.333333rem;
    justify-content: center;
    padding-top: .6rem;
    align-items: center;
}

.market_banner_search .input_div {
    flex: 0.6;
    font-size: .166667rem;
    height: .416667rem;
    display: flex;
    position: relative;
}

.market_banner_search .input_div::before {
    position: absolute;
    font-family: 'icomoon';
    content: 'î¦†';
    left: .166667rem;
    line-height: .416667rem;
}

.market_banner_search input {
    border-radius: .208333rem;
    flex: 1;
    padding-left: .5rem;
    /* padding-left: 80px; */
    border: 1px solid rgba(0, 0, 0, .3);

}

.market_banner .market_banner_section {
    width: 100%;
    padding-top: .833333rem;
    display: flex;
}

.market_banner_section .market_banner_nav {
    width: 15%;
    position: fixed;

}

.market_banner_section .market_banner_nav ul {
    display: block;
    width: 100%;
    border-radius: .041667rem;
    overflow: hidden;
}

.market_banner_section .market_banner_nav .market_banner_nav_ul li {
    display: block;
    width: 100%;
    height: .833333rem;
    font-size: .166667rem;
    line-height: .833333rem;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;

}

.market_banner_section .market_banner_photo {
    flex: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    align-content: flex-start;

}

.market_banner_photo .market_banner_photo_list {
    transition: all .3s;
    flex: 45%;
    margin-left: 5%;
    border: 1px solid #ccc;
    border-radius: .125rem;
    overflow: hidden;
    margin-bottom: .166667rem;
    max-width: 3.583333rem;
    display: flex;
    flex-wrap: wrap;
    font-size: .125rem;
    cursor: pointer;
    position: relative;
}

.market_banner_photo .market_banner_photo_list .mask {
    display: none;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);

}

.loadingSix {
    display: none;
    width: .833333rem;
    height: .833333rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.loadingSix span {
    display: inline-block;
    width: .133333rem;
    height: .133333rem;
    border-radius: 50%;
    background: skyblue;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

@-webkit-keyframes load {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

.loadingSix span:nth-child(1) {
    left: 0;
    top: 50%;
    margin-top: -0.066667rem;
    -webkit-animation-delay: 0.13s;
}

.loadingSix span:nth-child(2) {
    left: .116667rem;
    top: .116667rem;
    -webkit-animation-delay: 0.26s;
}

.loadingSix span:nth-child(3) {
    left: 50%;
    top: 0;
    margin-left: -0.066667rem;
    -webkit-animation-delay: 0.39s;
}

.loadingSix span:nth-child(4) {
    top: .116667rem;
    right: .116667rem;
    -webkit-animation-delay: 0.52s;
}

.loadingSix span:nth-child(5) {
    right: 0;
    top: 50%;
    margin-top: -0.066667rem;
    -webkit-animation-delay: 0.65s;
}

.loadingSix span:nth-child(6) {
    right: .116667rem;
    bottom: .116667rem;
    -webkit-animation-delay: 0.78s;
}

.loadingSix span:nth-child(7) {
    bottom: 0;
    left: 50%;
    margin-left: -0.066667rem;
    -webkit-animation-delay: 0.91s;
}

.loadingSix span:nth-child(8) {
    bottom: .116667rem;
    left: .116667rem;
    -webkit-animation-delay: 1.04s;
}

.market_banner_photo .market_banner_photo_list:hover {
    box-shadow: 0 0 .1rem .008333rem;
    transform: translateY(-10px);
}

.photo_list_img_container {
    height: 2.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.photo_list_img {


    max-width: 3.583333rem;
    max-height: 2.65rem;
}

.photo_list_photo_div {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.photo_list_photo_div .photo_list_p {
    flex: 1;
    padding-top: .083333rem;
    padding-left: .083333rem;
    color: rgb(112, 122, 131);
    font-size: .133333rem;

}

.photo_list_photo_div .photo_list_photo_div_div {
    flex: 3;
    padding: 0 0 .083333rem .083333rem;
    color: #222;
}

.photo_list_photo_div_div .photo_list_pone {
    font-size: .133333rem;
}

.photo_list_photo_div1 {
    display: flex;
    width: 50%;
    flex-direction: column;
    position: relative;
}

.photo_list_photo_div1 .photo_list_photo_p1 {

    flex: 1;
    text-align: end;
    margin: .25rem .041667rem 0 0;
    font-size: .125rem;
}

.photo_list_photo_div1 .photo_list_photo_button {
    position: absolute;
    top: -0.833333rem;
    left: -40%;
    margin-left: .333333rem;
    display: none;
    width: .666667rem;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    height: .25rem;
    border-radius: .083333rem;
    cursor: hand;
    box-shadow: 0 0 .033333rem .5px;
}

.change {
    background-color: #ccc;
    font-weight: 700;
    color: #fff;

}

.li1 {
    border-radius: .041667rem;

}

.up {
    margin-top: 0;
}

.price-img {
    vertical-align: middle;
    margin-right: .041667rem;
    width: .125rem !important;
    height: .125rem;
}

.price-text {
    vertical-align: middle;
}